.groupSelect {
    border: solid;
    border-width: 1px;
    border-color: gray;
    max-width: 80%;
    min-width: 50%;
    width: auto;
    margin-top: 10px;
}

.groupIndividual {
    cursor: pointer;
    display: inline-block;
}

.addNewGroupButton {
    width: auto;
    height: auto;
}

.deleteGroupButton {
    outline: none;
    margin-left: 10px;
}