.optionsWrapper {
    margin: 100px;
    margin-top: 50px;
    border-right: solid;
    border-width: 1px;
    border-color: gainsboro;
    padding: 20px;
    width: 40%;
}

.optionsTitle {
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.optionsBody {
    font-size: 12pt;
}

